{% extends 'main.html' %}
{% load static %}
{% block content %}


  
  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="{% static 'swift/img/k3.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

   

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p>At Swift Website Developers, we believe that our greatest asset is our talented and dedicated team. Our diverse group of professionals brings a wealth of expertise and creativity to every project we undertake.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'swift/img/john.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>John Mwangi Wanjiru</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href="https://x.com/john_4236?s=11&t=EoY-dl_URGB3-fCRQOKxWQ"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100022098489836&mibextid=9R9pXO"><i class="fa fa-facebook"></i></a>
                    <a href="https://wa.me/254746471338"><i class="fa fa-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/in/the-marketer-993178251"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'swift/img/ph.png' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Wilmot Musyoka</h4>
                  <span>Director of Operations</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our CLients</h3>
          <p>At Swift Website Developers, our clients are at the heart of everything we do. We are proud to have partnered with a diverse range of businesses and organizations, each with unique goals and visions.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'swift/img/clients/client1.ico' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'swift/img/clients/client-2.png' %}" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'swift/img/clients/client-3.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'swift/img/clients/client-4.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'swift/img/clients/client-5.png' %}" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'swift/img/clients/client-6.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'swift/img/clients/client-7.png' %}" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'swift/img/clients/client-8.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>
 <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="{% static 'swift/img/ph.png' %}" class="testimonial-img" alt="">
                <h3>Willy Laban</h3>
                <h4>Ceo &amp; Founder Third Visions Studio Kenya</h4>
                <p>
                  I can't express enough how satisfied I am with the exceptional services provided by Swift Website Developers. From the moment I engaged their team for my web development project, I knew I was in capable hands.

                  Their expertise truly shines through. The website they crafted for me is not only visually stunning but also highly functional. It's evident that they take pride in their work, meticulously coding and designing every element to perfection.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{% static 'swift/img/ph.png' %}" class="testimonial-img" alt="">
                <h3>Dennis Njuguna</h3>
                <h4>Manager AC Creatives</h4>
                <p>
                  Working with Swift Website Developers has been an absolute game-changer for our business. Their expertise, professionalism, and dedication to our project have exceeded our expectations in every way.

                  From the outset, it was clear that Swift Website Developers was not just another web development agency. They took the time to truly understand our unique needs and goals. This personalized approach was reflected in every aspect of the project, from design to functionality.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{% static 'swift/img/ph.png' %}" class="testimonial-img" alt="">
                <h3>Jasper Munene</h3>
                <h4>Client</h4>
                <p>
                  We couldn't be more pleased with the exceptional work done by Swift Website Developers. They took our vague ideas and turned them into a stunning, functional website that perfectly represents our brand. Their attention to detail, prompt communication, and dedication to delivering a top-notch product were evident throughout the entire process. The website they created has not only elevated our online presence but also significantly improved our user engagement. We wholeheartedly recommend Swift Website Developers to anyone in need of expert web development services..
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{% static 'swift/img/ph.png' %}" class="testimonial-img" alt="">
                <h3>William Kigo</h3>
                <h4>Client</h4>
                <p>
                  I want to express my gratitude to Swift Website Developers for the incredible job they did on our website. From the very beginning, they impressed us with their deep industry knowledge and creative approach to design. What sets them apart is their commitment to understanding our business objectives and tailoring their solutions to meet our specific needs. The result is a website that not only looks fantastic but also performs exceptionally well. Their ongoing support and responsiveness post-launch have been invaluable to our business. We highly recommend Swift Website Developers to anyone seeking a trusted partner for web development.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="{% static 'swift/img/ph.png' %}" class="testimonial-img" alt="">
                <h3>Edwin Kuria</h3>
                <h4>CEO Glossy Beauty</h4>
                <p>
                  Swift Website Developers is the gold standard when it comes to web development. They transformed our outdated website into a modern, user-friendly masterpiece. Their team's technical prowess and artistic flair were evident in every aspect of the project. They delivered on time and within budget, and their continued support has been remarkable. The website they created has helped us attract new customers and better serve our existing ones. If you're looking for a web development partner that combines expertise with a client-focused approach, Swift Website Developers is the right choice.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->
  {% endblock %}