{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Swift Software Developers</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'swift/img/icon.ico' %}" rel="icon">
  <link href="{% static 'swift/img/icon.ico' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'swift/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'swift/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'swift/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'swift/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'swift/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'swift/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'swift/css/style2.css' %}" rel="stylesheet">

  <!-- =======================================================
    
  ======================================================= -->
</head>

<body>

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="{% static 'swift/img/intro-img.svg' %}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We provide<br><span>software solutions</span><br>for your business!</h2>
        <div>
          <a href="about.html" class="btn-get-started scrollto">About Us</a>
          <a href="services.html" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

{% block content %}
{% endblock %}

<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Swift Software Developers</h3>
            <p>At Swift Website Developers, innovation is our cornerstone, and excellence is our standard. We are your trusted partner on the journey to a digital future that is both functional and beautiful. Whether you're a startup looking to make your mark, an established business seeking a digital transformation, or an organization aiming to make a lasting impact, we're here to turn your web development dreams into reality.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About us</a></li>
              <li><a href="services.html">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Karatin Town<br>
              Postbank House<br>
              Nyeri, Kenya <br>

              
              <strong>Phone:</strong><p>+2547 4647 1338</p><br>
              <strong>Phone:</strong><p>+2547 0551 3072</p>
              <strong>Email:</strong>swiftsoftwaredevs@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://x.com/john_4236?s=11&t=EoY-dl_URGB3-fCRQOKxWQ" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100022098489836&mibextid=9R9pXO" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://instagram.com/expert_writer09?igshid=OGQ5ZDc2ODk2ZA==" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://wa.me/254746471338" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
              <a href="https://www.linkedin.com/in/the-marketer-993178251" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our Newsletter Notifications..</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Swift Software Developers</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by Swift Software Developers</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  

  <!-- JavaScript Libraries -->
  <script src="{% static 'swift/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'swift/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'swift/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'swift/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'swift/lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'swift/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'swift/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'swift/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'swift/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'swift/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'swift/lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'swift/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'swift/js/main.js' %}"></script>

</body>
</html>
